<?xml version="1.0"?>
<launch>
 
    <node name="pointcloud_mapping" pkg="pointcloud_mapping" type="pointcloud_mapping" output="screen">
      
	<param name="topicColor" type="string" value="/RGBD/RGB/Image"/>
	<param name="topicDepth" type="string" value="/RGBD/Depth/Image"/>
	<param name="topicTcw" type="string" value="/RGBD/CameraPose"/>

	<param name="fx" type="double" value="517.306408"/>
	<param name="fy" type="double" value="516.469215"/>
	<param name="cx" type="double" value="318.643040"/>
	<param name="cy" type="double" value="255.313989"/>
	<param name="resolution" type="double" value="0.01"/>
	<param name="depthfactor" type="double" value="1.0"/>
	<param name="queueSize" type="int" value="10"/>
	<param name="mbuseExact" type="bool" value="0"/>
    </node>
	 
</launch>
